*{
    margin:0;
    padding:0;
}
html, body{
    height:100%;
}
body{
    background-color:#2A97CD;
    background-image:url(https://ak6.picdn.net/shutterstock/videos/25060235/thumb/1.jpg);
    background-position:center;
    background-size:cover;
}
.heading {
    width:400px;
    height:300px;
    margin:auto;
    position:absolute;
    top:0px; bottom:0px; right:0px; left:0px;
}
.title1{
    diplay:block;
    text-align:center;
    color:white;
    font-size:60pt;
    font-family:'Montserrat Alternates', sans-serif;
    font-weight:bold;
}
.title2{
    display:block;
    margin-top:15px;
    text-align:center;
    color:white;
    font-size:14pt;
    font-family:sans-serif;
    font-weight:bold;
}
.button{
    margin: 50px auto;
    display: block;
    width: 100px;
    height: 50px;
    border: 3px solid white;
    background-color:rgba(255,255,255,0);
    color: white;
    font-family:sans-serif;
    font-weight: bold;
    border-radius: 5px;
}
.learn:hover{
    background-color:rgba(255,255,255,1);
    color:#222;
    cursor:pointer;
}